
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Change My Password</title>
	<meta charset="utf-8">
	    
	<div th:include="com_page :: com_page_headTag"></div>
</head>

<body class="res layout-subpage">

     


    <div id="wrapper" class="wrapper-full ">
	<!-- Header Container  -->
	<div th:include="com_page :: com_page_head"></div>
	<!-- //Header Container  -->
	<!-- Main Container  -->
	<div class="main-container container">
		<ul class="breadcrumb">
			<li><a th:href="@{/}"><i class="fa fa-home"></i></a></li>
			<li><a th:href="@{/user/account.shopping}">Account</a></li>
			<li><a href="#">Change Password</a></li>
		</ul>
		
		<div class="row">
			<div id="content" class="col-sm-12">
				<h2 class="title ">Change Password</h2>
				<form id="changePasswordForm" th:action="@{/user/changePasswordAction.shopping}" method="post" class="form-horizontal account-register clearfix" th:object="${userInfo}">
				<input type="hidden" th:field="*{ver}">
				<fieldset>
						<legend th:replace="com_page :: com_page_blank">Your Account Information</legend>
						<div class="form-group required">
							<label class="col-sm-2 control-label" for="input-username">User Name</label>
							<div class="col-sm-10" th:text="*{username}">
								user name
							</div>
						</div>
						<div class="form-group required">
							<label class="col-sm-2 control-label " for="old-password">Old Password</label>
							<div class="col-sm-10">
								<input type="password" name="oldPassword" value="" placeholder="Password" id="old-password" class="form-control" required>
							</div>
						</div>
						<div class="form-group required">
							<label class="col-sm-2 control-label " for="input-password">Password</label>
							<div class="col-sm-10">
								<input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control" required>
							</div>
						</div>
						<div class="form-group required">
							<label class="col-sm-2 control-label " for="input-confirm">Password Confirm</label>
							<div class="col-sm-10">
								<input type="password" name="confirmPassword" value="" placeholder="Password Confirm" id="input-confirm" class="form-control" required>
							</div>
						</div>
					</fieldset>
					<div class="buttons edit">
						<div class="pull-right">
							<input type="submit" value="Continue" class="btn btn-primary">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- //Main Container -->
	

	<!-- Footer Container -->
	<div th:include="com_page :: com_page_foot"></div>
	<!-- //end Footer Container -->

    </div>
		
	<div th:replace="com_page :: com_page_foot_tag"></div>	
	
	<div th:replace="com_page :: com_page_script"></div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script>
		$(function() {
		    $("#changePasswordForm").validate({
		    	rules: {
		    		  oldPassword: {
		    	        required: true,
		    	      },
		    	      password: {
		    	        required: true,
		    	        minlength: 6
		    	      },
		    	      confirmPassword: {
		    	        required: true,
		    	        equalTo: "#input-password"
		    	      }
		    	},
		    	messages: {
		    		  oldPassword: {
		    	        required: "<div style='color:#FF5733';>Please Input 'Old Password'</div>",
		    	      },
		    	      password: {
		    	        required: "<div style='color:#FF5733';>Please Input Password</div>",
		    	        minlength: "<div style='color:#FF5733';>Password Cann't Less than 6 letters</div>"
		    	      },
		    	      confirmPassword: {
		    	        required: "<div style='color:#FF5733';>Please Confirm Password</div>",
		    	        equalTo: "<div style='color:#FF5733';>Two Password Entries are Inconsistent</div>"
		    	      }
		    	}
		    });
		});
	</script>
		
</body>
</html>

