<fieldset id="account">
	<legend>My Store Information</legend>
	<div class="form-group">
		<label class="col-sm-2 control-label">You Haven't  <a th:href="@{/store/openStorepage.shopping}">OPEN STORE</a>  Yet </label>
	</div>
</fieldset>
<div class="buttons info">
	<div class="pull-right">
		<a th:href="@{/store/openStorepage.shopping}"><input id="editButton2" type="button"
			value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; OPEN &nbsp; STORE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" class="btn btn-primary"></a>
	</div>
</div>
