
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title></title>
	<meta charset="utf-8">
	
	<div th:include="com_page :: com_page_headTag"></div>
</head>

<body class="res layout-subpage">


    <div id="wrapper" class="wrapper-full ">
	<!-- Header Container  -->
	<div th:include="com_page :: com_page_head"></div>
	<!-- //Header Container  -->
	<!-- Main Container  -->
	<div class="main-container container">
	
	<br><br>
	<hr>
		<div id="content" class="col-md-12 col-sm-12">
			<div class="products-category">
				<div class="products-list row grid visible-md visible-lg hidden-sm hidden-xs">
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>1</h1><br>
											<img th:src="@{/image/tutorial/1.JPG}"><br>
											Click Right Top [ My Account ]
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>2</h1><br>
											<img th:src="@{/image/tutorial/2.JPG}"><br>
											Click Right Top [ Register ]
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>3</h1><br>
											&nbsp;<br>
											<img th:src="@{/image/tutorial/3.JPG}"><br>
											<br>&nbsp;<br>
											Fill Your Information in Blank , then Click [ Continue ]
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>4</h1><br>
											<img th:src="@{/image/tutorial/4.JPG}"><br>
											Wait 5 seconds and Redirect automatic
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>5</h1><br>
											<img th:src="@{/image/tutorial/5.JPG}"><br>
											Fill Your [ User Name ] & [ Password ] in blank , then Click [ ]Continue ]  
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>6</h1><br>
											<img th:src="@{/image/tutorial/6.JPG}"><br>
											Click Right Top [ My Account ]
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>7</h1><br>
											<img th:src="@{/image/tutorial/7.JPG}"><br>
											Click [ My Account ]
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>8</h1><br>
											<img th:src="@{/image/tutorial/8.JPG}"><br>
											Click Right Buttom [ OPEN STORE ]
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>9</h1><br>
											<img th:src="@{/image/tutorial/9.JPG}"><br>
											Fill Your Store Information in blank , then Click [ Continue ]
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>10</h1><br>
											<img th:src="@{/image/tutorial/10.JPG}"><br>
											Click left [ Add New Goods ]
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>11</h1><br>
											<img th:src="@{/image/tutorial/11.JPG}"><br>
											Fill Your Goods Information in blank , then Click [ Continue ]
										</div>
									</div>
									</a>
								</div>
							</div>
				</div>
			
				<div class="products-list row grid hidden-md hidden-lg visible-sm visible-xs">
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12" >
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>1</h1><br>
											<img th:src="@{/image/tutorial/101.JPG}"><br>
											<a>Click Right Top [ Register ]</a>
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>2</h1><br>
											&nbsp;<br>
											<img th:src="@{/image/tutorial/3.JPG}"><br>
											<br>&nbsp;<br>
											Fill Your Information in Blank , then Click [ Continue ]
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>3</h1><br>
											<img th:src="@{/image/tutorial/4.JPG}"><br>
											Wait 5 seconds and Redirect automatic
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>4</h1><br>
											<img th:src="@{/image/tutorial/501.JPG}"><br>
											Fill Your [ User Name ] & [ Password ] in blank , then Click [ Continue ]  
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>5</h1><br>
											<img th:src="@{/image/tutorial/6.JPG}"><br>
											Click Right Top [ My Account ]
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>6</h1><br>
											<img th:src="@{/image/tutorial/7.JPG}"><br>
											Click [ My Account ]
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>7</h1><br>
											<img th:src="@{/image/tutorial/8.JPG}"><br>
											Click Right Buttom [ OPEN STORE ]
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>8</h1><br>
											<img th:src="@{/image/tutorial/901.JPG}"><br>
											Fill Your Store Information in blank , then Click [ Continue ]
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>9</h1><br>
											<img th:src="@{/image/tutorial/1001.JPG}"><br>
											Click [ Add New Goods ] in the Middle of Page
										</div>
									</div>
									</a>
								</div>
							</div>
							
					<div class="product-layout col-md-6 col-sm-6 col-xs-12 " onclick="changeBig(this)">
								<div class="product-item-container">
									<a>
									<div class="left-block">
										<div class="product-image-container second_img ">
											<h1>10</h1><br>
											<img th:src="@{/image/tutorial/1101.JPG}"><br>
											Fill Your Goods Information in blank , then Click [ Continue ]
										</div>
									</div>
									</a>
								</div>
							</div>
				</div>
			
			</div>
		</div>
	
	</div>
	<!-- //Main Container -->
	

	<!-- Footer Container -->
	<div th:include="com_page :: com_page_foot"></div>
	<!-- //end Footer Container -->

    </div>
	
	<div th:replace="com_page :: com_page_foot_tag"></div>
	<div th:replace="com_page :: com_page_script"></div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		function changeBig(str){
			if($(str).attr("class")=="product-layout col-md-12 col-sm-12 col-xs-12 openBox"){
				$(".openBox").attr("class", "product-layout col-md-6 col-sm-6 col-xs-12");
			}else{
				$(".openBox").attr("class", "product-layout col-md-6 col-sm-6 col-xs-12");
				$(str).attr("class", "product-layout col-md-12 col-sm-12 col-xs-12 openBox");
			}
		}
	</script>
</body>
</html>

