
<!DOCTYPE html>
<html lang="en">
<head>
<title>Add New Goods</title>
<meta charset="utf-8">

<div th:include="com_page :: com_page_headTag"></div>
</head>

<body class="res layout-subpage banners-effect-6">




	<div id="wrapper" class="wrapper-full ">
		<!-- Header Container  -->
		<div th:include="com_page :: com_page_head"></div>
		<!-- //Header Container  -->
		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="breadcrumb">
				<li><a th:href="@{/}"><i class="fa fa-home"></i></a></li>
				<li><a th:href="@{/user/account.shopping}">Account</a></li>
				<li><a href="#">My Store</a></li>
			</ul>

			<div class="row">
			<div th:replace="store/store_com_page :: left_part"></div>

				<!--Middle Part Start-->
				<div class="main-container container">
		
		<div class="row">
				<h1 class="title"> Add New Goods</h1>
				<br/><br/><br/>
				<form id="newGoodsForm" th:action="@{/goods/addgoodsaction.shopping}" method="post" enctype="multipart/form-data" class="form-horizontal account-register clearfix" th:object="${goodsInfo}">
				<fieldset>
						<div class="form-group required">
							<label class="col-sm-2 control-label" for="imghead">Picture</label>
							<div class="col-sm-10 big-photo">
								<div id="preview">
									<img id="imghead" border="0" th:src="@{/image/upload/photo_icon.png}"
										width="90" height="90" onclick="$('#previewImg').click();">
								</div>
								<input type="file" name="imgFile" onchange="previewImage(this)"
									style="display: none;" id="previewImg">
								<!--<input id="uploaderInput" class="uploader__input" style="display: none;" type="file" accept="" multiple="">-->
							</div>
						</div>
						<div class="form-group edit">
							<label class="col-sm-2 control-label" for="input-username">&nbsp;</label>
							<div class="col-sm-10">
								<label id='input-username-error' for='input-username'>
									<div style='color:#FF5733' ;=''>
										<a onclick="$('#previewImg').click();">Click Here To Change Picture<p> Size Limit In 2MB.</a>
									</div>
								</label>
							</div>
						</div>
						<div class="form-group required">
							<label class="col-sm-2 control-label" for="input-goodsname">Goods Name</label>
							<div class="col-sm-10">
								<input type="text" th:field="*{name}" placeholder="Goods Name" id="input-goodsname" class="form-control" required>
							</div>
						</div>
						<div class="form-group required">
							<label class="col-sm-2 control-label" for="input-price">Price&nbsp;&nbsp;(€)</label>
							<div class="col-sm-10">
								<input type="text" th:field="*{price}" placeholder="Price" id="input-price" class="form-control" required>
							</div>
						</div>
						<div class="form-group required">
							<label class="col-sm-2 control-label" for="input-count">Count</label>
							<div class="col-sm-10">
								<input type="text" th:field="*{count}" placeholder="Count" id="input-count" class="form-control" required>
							</div>
						</div>
						<div class="form-group required">
							<label class="col-sm-2 control-label" for="input-briefIntroduction">Brief Introduction</label>
							<div class="col-sm-10">
								<input type="text" th:field="*{briefIntroduction}" placeholder="Brief Introduction" id="input-briefIntroduction" class="form-control" required>
							</div>
						</div>
						<div class="form-group required">
							<label class="col-sm-2 control-label" for="input-discription">Discription</label>
							<div class="col-sm-10">
								<textarea type="text" name="discription" placeholder="Discription" id="input-discription" class="form-control" required></textarea>
							</div>
						</div>
					</fieldset>
					<div class="buttons">
						<div class="pull-right">
							<input type="submit" value="Continue" class="btn btn-primary">
						</div>
					</div>
				</form>
				<br/><br/>
		</div>
	</div>
			<!--Middle Part End-->
			</div>
		</div>
		<!-- //Main Container -->


		<!-- Footer Container -->
		<div th:include="com_page :: com_page_foot"></div>
		<!-- //end Footer Container -->

	</div>

	<div th:replace="com_page :: com_page_foot_tag"></div>

	<div th:replace="com_page :: com_page_script"></div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
	<script>
		$(function(){
			$("#StoreInfo").removeClass("active");
			$("#NewGoods").addClass("active");
			$("#OnSale").removeClass("active");
			$("#Disenable").removeClass("active");
			$("#NewGoods").attr("href","#");
		});
		
		$(function() {
		    $("#newGoodsForm").validate({
		    	rules: {
		    		  name: {
		    	        required: true
		    	      },
		    	      price: {
		    	        required: true,
		    	        number:true,
		    	        min:0
		    	      },
		    	      count: {
		    	    	required: true,
			    	    number:true,
			    	    min:0
		    	      },
		    	      briefIntroduction: {
		    	    	required: true	
		    	      },
		    	      discription: {
		    	    	required: true	
		    	      }
		    	},
		    	messages: {
		    		  name: {
		    	        required: "<div style='color:#FF5733';>Please Input 'Goods Name'</div>",
		    	      },
		    	      price: {
		    	        required: "<div style='color:#FF5733';>Please Input 'Price'</div>",
		    	        number: "<div style='color:#FF5733';>Please Input Invalidate 'Price'</div>",
		    	        min: "<div style='color:#FF5733';>Please Input Invalidate 'Price'</div>"
		    	      },
		    	      count: {
		    	    	required: "<div style='color:#FF5733';>Please Input 'Count'</div>",
			    	    number: "<div style='color:#FF5733';>Please Input Invalidate 'Count'</div>",
			    	    min: "<div style='color:#FF5733';>Please Input Invalidate 'Count'</div>"
		    	      },
		    	      briefIntroduction: {
		    	    	  required: "<div style='color:#FF5733';>Please Input 'Brief Introduction'</div>"		
		    	      },
		    	      discription: {
		    	    	  required: "<div style='color:#FF5733';>Please Input 'Discription'</div>"		
			    	  }
		    	}
		    });
		});
		
		//图片上传预览    IE是用了滤镜。
		function previewImage(file) {
			var MAXWIDTH = 90;
			var MAXHEIGHT = 90;
			var div = document.getElementById('preview');
			if (file.files && file.files[0]) {
				div.innerHTML = '<img id=imghead onclick=$("#previewImg").click()>';
				var img = document.getElementById('imghead');
				img.onload = function() {
					var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT,
							img.offsetWidth, img.offsetHeight);
					img.width = rect.width;
					img.height = rect.height;
					//                 img.style.marginLeft = rect.left+'px';
					img.style.marginTop = rect.top + 'px';
				}
				var reader = new FileReader();
				reader.onload = function(evt) {
					img.src = evt.target.result;
				}
				reader.readAsDataURL(file.files[0]);
			} else //兼容IE
			{
				var sFilter = 'filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
				file.select();
				var src = document.selection.createRange().text;
				div.innerHTML = '<img id=imghead>';
				var img = document.getElementById('imghead');
				img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
				var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT,
						img.offsetWidth, img.offsetHeight);
				status = ('rect:' + rect.top + ',' + rect.left + ','
						+ rect.width + ',' + rect.height);
				div.innerHTML = "<div id=divhead style='width:"+rect.width+"px;height:"+rect.height+"px;margin-top:"+rect.top+"px;"+sFilter+src+"\"'></div>";
			}
		}
		function clacImgZoomParam(maxWidth, maxHeight, width, height) {
			var param = {
				top : 0,
				left : 0,
				width : width,
				height : height
			};
			if (width > maxWidth || height > maxHeight) {
				rateWidth = width / maxWidth;
				rateHeight = height / maxHeight;

				if (rateWidth > rateHeight) {
					param.width = maxWidth;
					param.height = Math.round(height / rateWidth);
				} else {
					param.width = Math.round(width / rateHeight);
					param.height = maxHeight;
				}
			}
			param.left = Math.round((maxWidth - param.width) / 2);
			param.top = Math.round((maxHeight - param.height) / 2);
			return param;
		}
	</script>	

</body>
</html>

