<div class="col-md-6 col-sm-6 col-xs-12 ">
	<div class="pull-right hidden-xs">
		<a th:href="@{/user/account.shopping}"><img class="img-rounded"
			alt="limit:{height:100px}"
			th:src="@{/image/advertise/adpageLogined/2-1.jpg}"
			style="height: 100px;" /></a>
	</div>
	<div class="visible-xs">
		<a th:href="@{/user/account.shopping}"><img class="img-rounded"
			alt="limit:{height:100px}"
			th:src="@{/image/advertise/adpageLogined/2-1.jpg}"
			style="height: 100px;" /></a>
	</div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12 ">
	<div class="">
		<a th:href="@{/store/openStorepage.shopping}"><img
			class="img-rounded" alt="limit:{height:100px}"
			th:src="@{/image/advertise/adpageLogined/2-2-notHasStore.jpg}"
			style="height: 100px;" /></a>
	</div>
</div>
